db.sqlite3
__pycache__/*
*.pyc

media/Movie_images/*
media/profile_images/*
rango/migrations/*

templates/rango/.DS_Store
.idea/*

movie_reviews/movie_reviews/__pycache__/*
movie_reviews/rango/__pycache__/*
/Users/lucas/movie_reviews/movie_reviews/rango/templatetags/__pycache__/*
rango/.DS_Store
rango/templatetags/.DS_Store
