{% extends 'rango/base.html' %}


{% block title_block %}
    Homepage

{% endblock %}
{% load staticfiles %}

{% block body_block %}
<div>
    <h1>Home Page</h1>
    <div>

    </div>
    <div>
    {% if movies %}

         {% for movie in movies %}
             <div>
                 {{ movie.movie_name}}
                 {{ movie.movie_information}}
                 {{ movie.release_date}}
                 {{ movie.movie_image}}<br/>
                 <img src="{%static ''%}{{movie.movie_image}}"/>
                

             </div>
         {% endfor %}

    {% else %}
         <strong>There are no movies present.</strong>
    {% endif %}
    </div>
   
</div>
{% endblock %}