{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage

{% endblock %}


{% block body_block %}
<div>
	<div class="slider sliderv2">
		<div class="container">
			<div class="row">
				
				<div class="slider-single-item">
					{% if movies %}

				        {% for movie in movies %}
						<div class="movie-item">
							<div class="row">
								<div class="col-md-8 col-sm-12 col-xs-12">
									<div class="title-in">
										<h1><a href="#">{{movie.movie_name}} <span>{{movie.release_date}}</span></a></h1>
										<div class="social-btn">
											<a href={{movie.trailer_link}} class="parent-btn"><i class="ion-play"></i> Watch Trailer</a>
											<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>

										</div>
										<div class="mv-details">
											<p><i class="ion-android-star"></i><span>
												{% if movie.reviews.count > 0 %}
													{{ movie.get_average_rating }}
												{% else %}
													Nil
												{% endif %}
											</span> /10</p>
											<ul class="mv-infor">
												<li> {{movie.release_date}} </li>
				
											</ul>
										</div>
										<div class="btn-transform transform-vertical">	

											<div><a href={% url 'rango:movie_detail_page' movie.slug %} class="item item-1 redbtn hvrbtn">more detail</a></div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-12 col-xs-12">
									<div class="mv-img-2">
										
										<a href={% url 'rango:movie_detail_page' movie.slug %} ><img src="{%static ''%}{{movie.movie_image}}"
											style="width:350px;height: 450px" /></a>
									</div>
								</div>
							</div>
						</div>
				        {% endfor %}
				    {% else %}
				<strong>There are no movies present.</strong>
				{% endif %}
				</div>
				
			</div>
		</div>
	</div>
</div>
	<!-- <h1>Home Page</h1> -->
	<div class="movie-items  full-width">
		<div class="row">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>in theater</h2>
					<a href="/movie/movies_list/" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links">
						<li class="active"><a href="#tab1-h2">#Popular</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab1-h2" class="tab active">
							<div class="row">
								<div class="slick-multiItem2">
									{% if movies %}
									{% for movie in movies %}
									<div>
										<div class="slide-it">
											<div class="movie-item">
												<div class="mv-img">
													<img src="{%static ''%}{{movie.movie_image}}" />
												</div>
												<div class="hvr-inner">

															<a href={% url 'rango:movie_detail_page' movie.slug %} >Read more</a>
												</div>
												<div class="title-in">
													<h6><a href="#">{{movie.movie_name}}</a></h6>
													<p><i class="ion-android-star"></i><span>
															{% if movie.reviews.count > 0 %}
															{{ movie.get_average_rating }}
															{% else %}
															 Nil
															{% endif %}
														</span> /10</p>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}

									{% else %}
									<strong>There are no movies present.</strong>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}