{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ movie.movie_name }}
{% endblock %}


{% block body_block %}
<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>



<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="/media/{{ movie.movie_image }}" alt="Poster for {{ movie.movie_name }}">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a>
                            </div>
                            <div><a href="https://www.youtube.com/embed/{{ trailer }}"
                                    class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd"> {{ movie.movie_name }} </h1>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p><span>{{ average_rating }}</span> /10<br>
                                <span class="rv">56 Reviews</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="blog-detail-ct">
                <div class="comment-form">
                    <h4>Review This Movie</h4>
                    <form action="{% url 'rango:add_movie_reviews' movie.slug %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input class="submit" type="submit" placeholder="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab-content">
            {% for review in reviews %}
            <div class="mv-user-review-item">
                <div class="user-infor">
                    <img src="{{ review.user.profile.picture }}" alt="">
                    <div>
                        <h3>{{ review.user }}</h3>
                        <div class="no-star">
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star last"></i>
                        </div>
                        <p class="time">
                            {{ review.create_time }}
                        </p>
                    </div>
                </div>
                <p> {{ review.review_content }} </p>
            </div>
        </div>
    </div>
    {% empty %}
    No reviews yet
    {% endfor %}


</div>


{% endblock %}